.page-loader-wrapper{z-index:99999999;position:fixed;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background:rgba(0,0,0,0.88);overflow:hidden;text-align:center}.page-loader-wrapper p{font-size:13px;margin-top:10px;font-weight:bold;color:#444}.page-loader-wrapper .loader{position:relative;top:calc(30% - 30px)}
.page-loader-wrapper2{z-index:99999999;position:fixed;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background:rgba(0,0,0,0.88);overflow:hidden;text-align:center}.page-loader-wrapper2 p{font-size:13px;margin-top:10px;font-weight:bold;color:#444}.page-loader-wrapper2 .loader2{position:relative;top:calc(50% - 30px)}
.theowl {animation: rotate 0.4s infinite;}@keyframes rotate {100% {transform: rotateY(180deg);}} 
.spinner {width: 50px;height: 50px;margin: 20px auto;background-color: #fff;border-radius: 100%;  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;animation: sk-scaleout 1.0s infinite ease-in-out;}
@-webkit-keyframes sk-scaleout {0% { -webkit-transform: scale(0) }100% {-webkit-transform: scale(1.0);opacity: 0;}}
@keyframes sk-scaleout {0% { -webkit-transform: scale(0);transform: scale(0);} 100% {-webkit-transform: scale(1.0);transform: scale(1.0);opacity: 0;}}
.div-loader-cover{display: none; z-index:99999; text-align: center;position: absolute;background: rgba(23, 23, 23, 0.85);width: 100%;height: 100%;font-size: 22px;color: #fff;left:0px;top:0px;line-height: 100px;}

.popup{width:100%;height:100%;display:none;position:fixed;top:0;left:0;background:rgba(0,0,0,0.58);z-index:9999}.popup{text-align:center}.popup:before{content:'';display:inline-block;height:60%;margin-right:-4px;vertical-align:middle}.popup-inner{display:inline-block;margin-top:10px;text-align:left;vertical-align:middle;position:relative;max-width:auto;width:auto;box-shadow:0 2px 6px rgba(0,0,0,1);border-radius:3px;background:#fff;}.popup-close{width:34px;height:34px;padding-top:4px;display:inline-block;position:absolute;top:20px;right:20px;background:transparent}.popup-inner-dp{display:inline-block;text-align:left;vertical-align:middle;position:relative;max-width:100%;width:auto;box-shadow:0 2px 6px rgba(0,0,0,1);border-radius:3px;background:#fff;text-align:center}
@media(max-width:768px){.popup:before{content:'';display:inline-block;height:100%;margin-right:-4px;vertical-align:middle}.popup-inner{display:inline-block;margin-top:1px;text-align:left;vertical-align:middle;position:relative;max-width:600px;width:90%;box-shadow:0 2px 6px rgba(0,0,0,1);border-radius:3px;background:#fff;text-align:center;max-height: 95%;overflow-y: scroll;}.popup-inner-dp{display:inline-block;text-align:left;vertical-align:middle;position:relative;max-width:100%;width:100%;box-shadow:0 2px 6px rgba(0,0,0,1);border-radius:3px;background:#fff;text-align:center}}
#dialogoverlay{display:none;opacity:.8;position:fixed;top:0;left:0;background:#363636;width:100%;z-index:99999}#dialogbox{display:none;position:fixed;left:30%;right:30%;top:200px;background:#b4b4b4;border-radius:7px;*width:550px;z-index:99999}@media(max-width:767px){#dialogbox{display:none;position:fixed;left:5%;right:5%;top:180px;background:#b4b4b4;border-radius:7px;width:auto;z-index:99999}}#dialogbox>div{background:#FFF;margin:8px}#dialogbox>div>#dialogboxhead{background:#0a5580;font-size:19px;color:#CCC}#dialogbox>div>#dialogboxbody{background:#f8f8f8;padding:20px;color:#000}#dialogbox>div>#dialogboxfoot{background:#ececec;padding:10px;text-align:right}
#alertbox{display:none;position: fixed;left: 30%;top: 200px;background: #f3aaaa;border-radius: 7px;width: 40%;z-index: 99999;right: 30%;box-shadow: 0px 0px 20px 6px #edc6c6;}@media(max-width:767px){#alertbox{display:none;position:fixed;left:20%;right:20%;top:180px;border-radius:7px;width:auto;z-index:99999}}#alertbox>div{background:#FFF;margin:4px}#alertbox>div>#alertboxbody{background:#f8f8f8;padding:5px;color:#000;text-align:center}
#successbox{display:none;position: fixed;left: 30%;top: 200px;background: #8ae9a9;border-radius: 7px;width: 40%;z-index: 99999;right: 30%;box-shadow: 0px 0px 20px 6px #292929;}@media(max-width:767px){#successbox{display:none;position:fixed;left:20%;right:20%;top:180px;border-radius:7px;width:auto;z-index:99999}}#successbox>div{background:#FFF;margin:4px}#successbox>div>#successboxbody{background:#f8f8f8;padding:5px;color:#000;text-align:center}
#successlongbox{display:none;position: fixed;left: 30%;top: 200px;background: #8ae9a9;border-radius: 7px;width: 40%;z-index: 99999;right: 30%;box-shadow: 0px 0px 20px 6px #292929;}@media(max-width:767px){#successlongbox{display:none;position:fixed;left:20%;right:20%;top:180px;border-radius:7px;width:auto;z-index:99999}}#successlongbox>div{background:#FFF;margin:4px}#successlongbox>div>#successlongboxbody{background:#f8f8f8;padding:15px;color:#000;text-align:center}

.ms-parent{display:inline-block;position:relative;vertical-align:middle}.ms-choice{display:block;width:100%;height:26px;padding:0;overflow:hidden;cursor:pointer;border:1px solid #aaa;text-align:left;white-space:nowrap;line-height:26px;color:#444;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#fff}.ms-choice.disabled{background-color:#f4f4f4;background-image:none;border:1px solid #ddd;cursor:default}.ms-choice>span{position:absolute;top:0;left:0;right:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;padding-left:8px}.form-horizontal .control-flex .control-group .controls .ms-drop input{width:10%}.ms-choice>span.placeholder{color:#999}.ms-choice>div{position:absolute;top:0;right:0;width:20px;height:25px;background:url('../_img/multiple-select.png') left top no-repeat}.ms-choice>div.open{background:url('../_img/multiple-select.png') right top no-repeat}.ms-drop{width:100%;overflow:hidden;display:none;margin-top:-1px;padding:0;position:absolute;z-index:1000;background:#fff;color:#000;border:1px solid #aaa;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.ms-drop.bottom{top:100%;text-align: left;-webkit-box-shadow:0 4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 4px 5px rgba(0,0,0,.15);box-shadow:0 4px 5px rgba(0,0,0,.15)}.ms-drop.top{bottom:100%;-webkit-box-shadow:0 -4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 -4px 5px rgba(0,0,0,.15);box-shadow:0 -4px 5px rgba(0,0,0,.15)}.ms-drop ul{overflow:auto;margin:0;padding:5px 8px}.ms-drop ul>li{list-style:none;display:list-item;background-image:none;position:static}.ms-drop ul>li .disabled{opacity:.35;filter:Alpha(Opacity=35)}.ms-drop ul>li.multiple{display:block;float:left}.ms-drop ul>li.group{clear:both}.ms-drop ul>li.multiple label{width:100%;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.ms-drop ul>li label{font-weight:normal;display:block;white-space:nowrap}.ms-drop ul>li label.optgroup{font-weight:bold}.ms-drop input[type="checkbox"]{vertical-align:middle}.ms-drop .ms-no-results{display:none}
.grey-out{color:grey;}
.mobile-no-show{display:block!important}.mobile-only-show{display:none!important}
.strict-mobile-no-show{display:block!important}.strict-mobile-only-show{display:none!important}
.strict-mobile-no-visibility{visibility:visible!important}
@media(max-width:768px){
	.mobile-no-show{display:none!important}.mobile-only-show{display:block!important}
	.strict-mobile-no-show{display:none!important}.strict-mobile-only-show{display:block!important}
	.strict-mobile-no-visibility{visibility:hidden!important}
}
@media(max-width:979px){
	.mobile-no-show{display:none!important}.mobile-only-show{display:block!important}
	.navbar .nav-collapse {clear: left;text-align:center;}
}
.hand{cursor:pointer;}

body {background: #f5f5f5;font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;}  
a {color: #5d5d5d;text-decoration: none;}
input,button,select,textarea {font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;}
.text-center{text-align:center;}
.navbar .search-query {background-color: #444;font-size: 12px;font-weight: bold;}
.navbar .search-query::-webkit-input-placeholder {color: #666;}
.navbar .search-query:-moz-placeholder {color: #666;}
.navbar-search .search-query {background-color: #c1c1c1;border: 0;color: rgb(0, 0, 0);line-height: normal;}
.navbar-search{*float:right;}
@media (max-width: 767px) {
	.navbar-search{float:left;width: 100%;}
	.navbar .search-query {width: auto;}
}
.dropdown .dropdown-menu {-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.navbar .brand {padding: 0px 20px 0px;}
.right-border{border-right: 1px solid #d9d9d9;}
.btn-icon-only {padding-right: 3px;padding-left: 3px;}
.table td {vertical-align: middle;}
.table-bordered th {background: #E9E9E9;background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";font-size: 10px;color: #444;text-transform: uppercase;}
.navbar .container {position: relative;}
.navbar-inner {padding: 7px 0;	background: #404544  !important;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
.navbar-fixed-top {position: static;}
.navbar .nav a {font-size: 12px;}
.navbar .nav>li>a { color:#fff !important;}
.navbar .brand {font-weight: 600;position: relative;top: 2px;}

.subnavbar {margin-bottom: 1.5em;}
.subnavbar-inner {height: 60px;background: #fff;border-bottom: 1px solid #777;}
.subnavbar .container > ul {display: inline-block;height: 80px;padding: 0;margin: 0;}
.subnavbar .container > ul > li {float: left;min-width: 90px;height: 60px;padding: 0;*margin: 0;text-align: center;list-style: none;border-left: 1px solid #d9d9d9;}
.subnavbar .container > ul > li > a {display: block;height: 100%;padding: 0 15px;font-size: 12px;font-weight: bold;color: #545454;}
.subnavbar .container > ul > li > a:hover {color: #888;text-decoration: none;}
.subnavbar .container > ul > li > a > i {display: inline-block;width: 24px;height: 24px;margin-top: 11px;margin-bottom: -3px;font-size: 20px;}
.subnavbar .container > ul > li > a > span {display: block;	}
.subnavbar .container > ul > li.active > a {border-bottom:3px solid #000;color: #383838;}
.subnavbar .dropdown .dropdown-menu a {font-size: 12px;}
.subnavbar .dropdown .dropdown-menu {text-align: left;-webkit-border-top-left-radius: 0;-webkit-border-top-right-radius: 0;-moz-border-radius-topleft: 0;-moz-border-radius-topright: 0;border-top-left-radius: 0;border-top-right-radius: 0;}
.subnavbar .dropdown-menu::before {content: '';display: inline-block;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 7px solid #CCC;border-bottom-color: rgba(0, 0, 0, 0.2);position: absolute;top: -7px;left: 9px;}
.subnavbar .dropdown-menu::after {content: '';display: inline-block;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid white;position: absolute;top: -6px;left: 10px;}
.subnavbar .caret {margin-top: 4px;border-top-color: white;border-bottom-color: white;}
.subnavbar .dropdown.open .caret {display: none;}

.main {padding-bottom: 2em;}

.extra {border-top: 1px solid #585858;border-bottom: 1px solid #000;}
.extra-inner {padding: 20px 0;font-size: 12px;color: #BBB;background: #1A1A1A;}
.extra a {color: #666;}
.extra h4 {	margin-bottom: 1em;font-weight: 400;}
.extra ul {padding: 0;margin: 0;}
.extra li {margin-bottom: .6em;list-style: none;}

/*#search-layer{position:absolute; background:rgba(0, 0, 0, 0.83); z-index:9; left:0px; top:0px;}*/
#livesearch{position:absolute;z-index:9999; max-height:260px;overflow:auto; width:300px;box-shadow:0px 2px 4px #444;margin-top: 1px;}
.live-outer{width:100%; height:60px;border-bottom:1px solid #ccc; background:#fff;}
.live-outer:hover{background:#F3F3F3;}
.live-im{float:left;width:auto;display: table-cell;padding:6px;}
.live-im img{width: 42px;margin-right: 5px;border-radius: 100%;}
.live-user-det{*float:left; width:100%; height:60px;padding-top: 5px;}
.live-user-name{width:100%; height:22px; margin-top:4px;}
.live-user-name p{margin:0px;color:#333;font-size:14px;}
.live-user-email{width:100%;height:25px;}
.live-user-email-text{float:left; width:75%;}
.live-user-email-text p{margin:0px;font-size:12px;}
.link-p-colr{color:#333;}

.footer {margin-top: 0;}
.footer-inner {padding: 15px 15px;font-size: 12px;background: #111;color: #999;}
.footer a {color: #999;}
.footer a:hover {color: #FFF;text-decoration: none;}

.widget {position: relative;clear: both;width: auto;margin-bottom: 0px;*overflow: hidden;}
.widget-header {position: relative;height: auto;line-height: 40px;background: #f5f5f5;background:-moz-linear-gradient(top, #f5f5f5 0%, #f0f0f0 100%); /* FF3.6+ */background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */background:-webkit-linear-gradient(top, #f5f5f5 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */background:-o-linear-gradient(top, #f5f5f5 0%,#f0f0f0 100%); /* Opera11.10+ */background:-ms-linear-gradient(top, #f5f5f5 0%,#f0f0f0 100%); /* IE10+ */background:linear-gradient(top, #f5f5f5 0%,#f0f0f0 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f0f0f0');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f0f0f0')";border: 1px solid #cfc7c7;-webkit-background-clip: padding-box;}		
.widget-header h3 {	position: relative;top: 2px;*left: 10px;display: inline-block;*margin-right: 3em;font-size: 14px;color: #525252;line-height: 18px;text-shadow: 1px 1px 2px rgba(255,255,255,.5);}
.widget-header [class^="fa-"], .widget-header [class*=" fa-"] {display: inline-block;margin-left: 13px;margin-right: -2px;font-size: 16px;color: #555;vertical-align: middle;}
.widget-content {padding: 20px 15px 15px;background-image: linear-gradient(to bottom, #fff, #fff 25%, #f5f5f5 75%, #f5f5f5 100%);border: 0px solid #9c9c9c;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

.widget-header+.widget-content {border-top: none;-webkit-border-top-left-radius: 0;-webkit-border-top-right-radius: 0;-moz-border-radius-topleft: 0;-moz-border-radius-topright: 0;border-top-left-radius: 0;border-top-right-radius: 0;}
.widget-nopad .widget-content {padding: 0;}
.widget-content:before,.widget-content:after {content:"";display:table;}
.widget-content:after {clear:both;}
.widget-content {zoom:1;}
.widget-table .widget-content {padding: 0;}
.widget-table .table {margin-bottom: 0;border: none;}
.widget-table .table tr td:first-child {border-left: none;}
.widget-table .table tr th:first-child {border-left: none;}
.widget-plain {background: transparent;border: none;}
.widget-plain .widget-content {padding: 0;background: transparent;border: none;}
.widget-box {}
.widget-box .widget-content {background: #E3E3E3;	background: #FFF;}
@media(max-width:768px){
	.widget {position: relative;clear: both;width: auto;margin-bottom: 0em;*overflow: hidden;}
	.widget-nopad .widget-content {padding-left: 5px;margin-bottom: 3em;}
}
.error-container {margin-top: 4em;margin-bottom: 4em;text-align: center;}
.error-container h1 {margin-bottom: .5em;font-size: 120px;line-height: 1em;}
.error-container h2 {margin-bottom: .75em;font-size: 28px;}
.error-container .error-details {margin-bottom: 1.5em;font-size: 16px;}
.error-container .error-actions a {margin: 0 .5em;}

.background-gradient {width: auto;height: auto;background: linear-gradient(-45deg,#4b89e3,#F597BB,#2579aa,#13EFE7);}

@media (max-width: 480px) {
	.error-container h1 {font-size: 72px;}
}
@media (max-width: 767px) { 	
	#main {padding: 0 10px;margin-right: -20px;margin-left: -20px;	}
	.subnavbar {*margin-left: -20px;*margin-right: -20px;	}
	.subnavbar-inner {height: auto;}
	.subnavbar .container > ul {width: 100%;height: auto;	border: none;}
	.subnavbar .container > ul > li {width: 33%;height: 70px;margin-bottom: 0;border: none;}
    .subnavbar .container > ul > li.active > a {font-size: 11px;background: transparent;}
	.subnavbar .container > ul > li > a > i {display: inline-block;	margin-bottom: 0;	font-size: 20px;}
	.subnavbar-open-right .dropdown-menu {left: auto;right: 0;}
	.subnavbar-open-right .dropdown-menu:before {left: auto;right: 12px;}
	.subnavbar-open-right .dropdown-menu:after {left: auto;right: 13px;}
	.extra {margin-right: -20px;margin-left: -20px;}
	.extra .container {padding: 0 20px;}
	.footer {margin-right: -20px;margin-left: -20px;}
	.footer .container {padding: 0 20px;}
	.footer .footer-terms {text-align: left;}
	.footer .footer-terms a {margin-left: 0;margin-right: 1em;}
}
@media (max-width: 979px) {
	.navbar-fixed-top {position: static;	margin-bottom: 0;}
	.subnavbar {}
	.subnavbar .container {	width: auto;}
}
@media (min-width: 1200px) {
	.navbar .search-query {width: 200px;}
}
